.footer {
    background-color: gray;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerTito {
    padding: 2% 10% 2% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.Containericonfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
}
.enlacefooter {
    transition: transform 0.5s ease-in-out;
}
.enlacefooter:hover {
    transform: scale(1.5);
}
.imgredfooter {
    
}
/* .enlacefooter:hover .imgredfooter{
    filter: invert(21%) sepia(94%) saturate(7244%) hue-rotate(0deg) brightness(95%) contrast(105%);
}
*/

/* invert(100%): Invierte los colores del SVG.
sepia(0%): Ajusta la intensidad del efecto sepia.
saturate(0%): Ajusta la saturación de los colores.
hue-rotate(0deg): Rota los colores en el espectro de tonos.
brightness(100%): Ajusta el brillo del SVG.
contrast(100%): Ajusta el contraste del SVG. */
.logotTitoFooter{
    height: 8rem;
}
.ContainerinformacionFooter {
    transition: transform 0.5s ease-in-out;
}

.ContainerinformacionFooter:hover {
    transform: scale(1.2);
}


.footerPTito {
    font-size: var(--size_footerTito);
    text-decoration: none;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    
}

.footerPTito:hover {
    
}


.footerContainerDeivid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #333333;
}
.footerPDeivid {
    font-size: var(--size_footer);
    padding: 0.3% 2% 0.3% 2%;
    color: gray;
}