/* Estilos compartidos */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

/* Estilos específicos */
.publicaciones {
    margin-top: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.containerPrincipal {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btnPrev, .btnNext {

    width: 10%;
    height: 50px;
    cursor: pointer;
}

.containerCarrusel {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.classTitlr {
    width: 100%;
    text-align: center;
    font-weight: bold;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderGallery {
    height: 100%;

    width: 100%;
    display: flex;
    overflow-x: scroll;
}

.sliderGallery::-webkit-scrollbar {
    display: none;
}

.slideer {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4%;
    padding: 2%;
    flex: none;
}

.spanSlider {
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    cursor: pointer;
    position: relative;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Añadir transición para la transformación y opacidad */
}

.classlinkPublicacion{
    width: 100%;
    height: 100%;
    max-height: 500px;
}

.sliderImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.spanSlider:hover {
    transform: 
        perspective(350px)
        rotateX(10deg)
        translateY(-4%)
        translateZ(0);
}

.spanSlider::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: 
    linear-gradient(
        to bottom,
        transparent 10%,
        rgba(0,0,0,0.5) 50%,
        rgb(0,0,0) 95%
    );
    opacity: 0;
    transition: opacity 0.5s ease; /* Asegurarse de que la transición para la opacidad sea suave */
}

.spanSlider:hover::before {
    opacity: 1;
}



.efectoCardPubl {
    position: absolute;
    width: auto;
    height: 110%;
    bottom: 0;
    left: -5%;
    opacity: 0;
    transform: scale(0); /* Comienza con la imagen pequeña */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transición suave para transform y opacity */
}

.spanSlider:hover .efectoCardPubl {
    opacity: 1;
    transform: scale(1); /* La imagen vuelve a su tamaño original */
}

.etiqueta{
    position: absolute;
    background-color: #FFCA55;
    color: #8E4816;
    font-size: var(--size_etiqueta_slider);
    padding: 0.5% 3.5%;
    top: -4%;
    right: 10%;
    transform: rotate(-3deg);
    box-shadow: 3px 7px 4px -5px rgba(0,0,0,0.22);
    clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
}

.textoFinal {
    width: 100%;
    height: 20%;
    padding: 0 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--size_fuente_texto);
    text-wrap: pretty;
}

.btnNext {
    transition: transform 0.5s ease-in-out;
}


.btnPrev {
    transition: transform 0.5s ease-in-out;
}

.btnPrev:hover {
    transform: scale(1.2);
}

.btnNext:hover {
    transform: scale(1.2);
}

.indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.indicator {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000000;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.5s ease, width 0.7s ease, height 0.4s ease, border-radius 0.6s ease;
    z-index: 1;
}

.indicator.active {
    background-color: #000000;
    width: 15px;
    height: 4px;
    border-radius: 0;
}