.footer {
    background-color: gray;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerTito {
    padding: 2% 10% 2% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.Containericonfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
}
.enlacefooter {
}
.imgredfooter {
}
.logotTitoFooter{
    height: 8rem;
}
.ContainerinformacionFooter {
}

.footerPTito {
    font-size: var(--size_footerTito);
    text-decoration: none;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
}
.footerContainerDeivid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #333333;
}
.footerPDeivid {
    font-size: var(--size_footer);
    padding: 0.3% 2% 0.3% 2%;
    color: gray;
}