.footer {
    background-color: gray;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerTito {
    padding: 2% 10% 2% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.Containericonfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
}
.enlacefooter {
}
.imgredfooter {
}
.logotTitoFooter{
    height: 10rem;
}
.ContainerinformacionFooter {
}
.footerPTito {
    color: white;
}
.footerContainerDeivid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: black;
}
.footerPDeivid {
    padding: 0 2% 0 2%;
    color: gray;
}