

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(152, 207, 189);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

:root{
 --color_letra: black
}


section[id]{
    scroll-margin-top: 80px;
    margin-top: 80px;
    height: calc(100vh - 80px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}




