* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sf;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

:root {
  --color_letra: rgb(0, 0, 0);
  --color_header: white;
  --color_text_home: white;
  --color_body: white;
  --size_header: 0.9rem;
  --size_footer: 0.7rem;
  --size_footerTito: 0.8rem;

  /* Variables para publicaciones */
  --size_fuente_texto: 0.9rem;
  --size_fuente_titulo: 1.5rem;
  --size_etiqueta_slider: 1rem;

}

p {
  margin: 0;
  padding: 0;
}

dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;

}


body {
  background-color: var(--color_body);
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

section[id] {
  scroll-margin-top: 60px;
  margin-top: 0px;
  height: calc(100vh - 60px);
}
